{{#if isTheWinner}}

  <div class="layout-column layout-align-center-center">
    <h1>You Won! :-)</h1>
    <h3>The password was: {{game.password}}</h3>
  </div>

{{else}}
  {{paper-progress-linear value=hp }}

  <div style="text-align: center; font-size: 50px;" class="textPassword">
    {{filteredPassword}}
  </div>

  <div class="keyboard">
    {{ui/key-board playerChoices}}
  </div>
{{/if}}

{{outlet}}
